PORT=3000
# Optional Proxy URL (e.g. http://user:pass@127.0.0.1:8080)
PROXY_URL=

# Optional: Min/Max Delay between submissions in ms
MIN_DELAY_MS=3000
MAX_DELAY_MS=8000

# Puppeteer path if running in specific environments (Vercel)
# PUPPETEER_EXECUTABLE_PATH=
